DB_USERNAME=username
DB_PASSWORD=user_password
DB_URL=jdbc:postgresql://localhost:5432/your_db

JWT_SECRET=mySecretKeyForJWTTokenGenerationAndValidation123
JWT_EXPIRATION=3600

MAIL_HOST=smtp.gmail.com
MAIL_PORT=587
MAIL_USERNAME=your-email@gmail.com
MAIL_PASSWORD=your-app-password