DB_USERNAME=wasac_user
DB_PASSWORD=wasac_pass_2026
DB_URL=jdbc:postgresql://localhost:5433/wasac_billing_db

JWT_SECRET=wasac-jwt-secret-should-be-very-long-random-value-2026
JWT_EXPIRATION=3600000

MAIL_HOST=smtp.gmail.com
MAIL_PORT=587
MAIL_USERNAME=your-email@gmail.com
MAIL_PASSWORD=your-app-password
